
html{
    background: #ffedd5;
}
h3 {
    color: #17817f;
}
p > a { 
    color: #17817f; 
} 
a:hover {
    color: #000;
    text-decoration: none !important;
}
body { 
    font-family: 'Quicksand', sans-serif; 
} 

.btn-primary {
    color: #fff; 
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.container-fluid {
    background-color: #ffedd5; 
    margin: 40px;
}

.textbox {
    margin-top: 100px;
}
ul {
    margin-bottom: 2rem !important;
}
.button {
    padding: 10px;
    background: #17817f;
    color: #fff;
    border-radius: 5px;
}
.button:hover {
    background: #000;
    color: #fff;
}
.contact {
    margin-top: 20px;
}
#social {
    text-align:right; 
} 
#jkImage {

    text-align: center;
    width: 600px; 
    height: auto;
    /*bottom: 0;*/
    /*position: fixed;*/
} 
.text {  
    text-align: start; 
} 
.fa { 
    padding: 25px; 
    font-size: 30px; 
    width: 50px; 
    text-align: center; 
    text-decoration: none; 
    line-height: 50px; 
    color: black; 
} 
.fa:hover { 
      color: black; 
      opacity: 0.7; 
      text-decoration: none;    
} 
@media screen and (max-width: 780px) {
    .textbox{
        margin-top: 0;
    }
   /* #jkImage{
        width: 80%;
        position: fixed;
    }*/

}
@media screen and (min-width: 480px) {
   /* #jkImage{
        display: none;
    }*/
}

/*------------PORTFOLIO----------*/
.portfolio {
    text-align: center;
}
#myDIV {
    display: none;
}
.portfolioImg{
    height: 300px;
    width: 150px;
}
